{% extends 'layout.html' %}

{% block title %}
Ana Sayfa
{% endblock title %}

{% block body %}

<div class="mt-5">
  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-5 mx-auto">
        <div class="card">
          <div
            class="card-header text-center bg-dark text-white"
            style="font-size: 20px;"
          >
            Yks Puanını gir 👇🏻
          </div>
          <div class="card-body">
          <form   action="{{ url_for('handle_data') }}" method="post">
          <input type="number" step="any" max="500" name="puan" class="form-control" placeholder="353.424" />
          <button  class="btn btn-block btn-primary type="submit">Gönder</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}