{% extends 'layout.html' %}

{% block title %}
Anasayfa
{% endblock title %}

{% block body %}
    <div class="mt-5">
    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col-5 mx-auto">
          <div class="card">
           
            <div
              class="card-header text-center bg-dark text-white"
              style="font-size: 20px;"
            >
              Yks Puanını gir 👇🏻
            </div>
            <div class="card-body">
              
           <form   action="{{ url_for('handle_data') }}" method="post">
            <div class="form-group">
              <label for="exampleFormControlSelect1">İstediğin Bölümü Gir 👨🏻‍🚀👩🏻‍🔬</label>
              <select class="form-control" name="bolum" id="exampleFormControlSelect1">
                {% for b in joblist %} 

                  <option value='{{b.link}}'>{{b.name}}</option>
              {%endfor%} 
              </select>
            </div>
           <div class="form-group">
            <label class="w-100">
              Yks Puanını Gir 👨🏻‍🚀👩🏻‍🔬
              <input type="number" step="any" min="0" max="550" name="puan" class="form-control" placeholder="353.424" required/>
             </label>
           </div>
           
            <button  class="btn btn-block btn-primary type="submit">Gönder</button>
           </form>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
{% endblock body %}
