<!DOCTYPE html>
<html lang="”en”">
  <head>
    <meta charset=”UTF-8"> <meta name=”viewport” content=”width=device-width,
    initial-scale=1.0">
    <meta http-equiv="”X-UA-Compatible”" content="”ie" ="edge”" />
    <title>{{head}}</title>
    <link
      rel="stylesheet"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
  </head>
  <body class="mt-5">
    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col-5 mx-auto">
          <div class="card">
           
            <div
              class="card-header text-center bg-dark text-white"
              style="font-size: 20px;"
            >
              Yks Puanını gir 👇🏻
            </div>
            <div class="card-body">
              
           <form   action="{{ url_for('handle_data') }}" method="post">
            <div class="form-group">
              <label for="exampleFormControlSelect1">İstediğin Bölümü Gir 👨🏻‍🚀👩🏻‍🔬</label>
              <select class="form-control" name="bolum" id="exampleFormControlSelect1">
                {% for b in joblist %} 

                  <option value='{{b.link}}'>{{b.name}}</option>
              {%endfor%} 
              </select>
            </div>
           <div class="form-group">
            <label class="w-100">
              Yks Puanını Gir 👨🏻‍🚀👩🏻‍🔬
              <input type="number" step="any" max="550" name="puan" class="form-control" placeholder="353.424" />
             </label>
           </div>
           
            <button  class="btn btn-block btn-primary type="submit">Gönder</button>
           </form>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </body>
  <script></script>
</html>
<!-- <header>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light fixed-top d-block"
    >
      <div class="container">
        <a class="navbar-brand">Puanım nereye yeter?</a>
      </div>
    </nav>
  </header> -->
