<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
    <!-- (not 2) bu block'ta da her sayfa için ayrı title verebilirsin -->
    {% endblock title %}
    </title>
    <link
      rel="stylesheet"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
</head>
<body>
    {% include "navbar.html" %}

    {% block body %}
    <!-- (not 1) bu block'un aynısını diğer sayfalarda açıp içerisine normal html yazıyorsun -->
    {% endblock body %}
</body>
</html>