<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset=”UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0">
    <meta http-equiv="”X-UA-Compatible”" content="”ie"="edge”" />
    <title>{% block title %}
    {% endblock title %}</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <style>
    {% block style %}
    {% endblock style %}
    </style>
</head>

<body>
    {% block body %}
    {% endblock body %}
</body>

</html>